
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Nettbutikken.Models.Vare

@{
    ViewBag.Title = "Vare - " + Model.Varenavn;
}

<h2>@Model.Varenavn</h2>

<p>
    <img alt="@Model.Varenavn" src="@Model.Varebilde" />
</p>

<div id="album-details">
    <p>
        <em>Kategori:</em>
        @Model.Kategori.Navn
    </p>
    <p>
        <em>Pris:</em>
        @String.Format("{0:F}", Model.Pris)
    </p>
    <p class="button">
        @Html.ActionLink("Add to cart", "AddToCart",
        "Handlekurv", new { id = Model.VareId }, "")
    </p>
</div>



